<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Nota de Entrega</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: "Courier New", Courier, monospace;
            font-size: 12px;
            padding: 10px;
            margin: 0;
        }

        .qr-code {
            width: 100px;
            height: 100px;
        }

        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 10px;
        }

        .header-left {
            width: 50%;
            text-align: left;
        }

        .header-right {
            width: 50%;
            text-align: right;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .header-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px;
            margin-bottom: 5px;
        }

        .title-container {
            flex-grow: 1;
            text-align: center;
            padding: 0px;
            margin-bottom: 5px;
        }

        .qr-container {
            width: 100px;
            text-align: right;
        }

        .header-container,
        .header-top,
        .table {
            margin-bottom: 5px !important;
            /* Reduce espacio entre secciones */
        }

        .header-left p,
        .header-right p {
            margin: 2px 0 !important;
            /* Reduce separación entre párrafos */
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 2px;
            background-color: white;
        }

        th, td {
            padding: 1px;
            text-align: center;
        }

        td {
            font-size: 12px;
        }

        th {
            font-size: 12px;
            font-weight: bold;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

        .footer-text {
            margin-top: 15px;
            padding: 0px;
            text-align: right;
            font-style: italic;
        }

        .footer-signatures {
            margin-top: 55px;
            /* margin: 0 5px; */
            display: flex;
            justify-content: space-around;
            text-align: center;
        }

        .footer-signatures div {
            display: inline-block;
            width: 20%;
            border-top: 1px solid black;
            margin: 0 5px;
            margin-top: 30px
        }

        .comments {
            margin: 1rem 0rem;
            padding: 1rem;
        }
    </style>
</head>

<body>
    <div class="content">
        <div class="header-top">
            <div class="title-container">
                <h6 class="text-center" style="font-weight: bold;">LABORATORIOS IFA</h6>
                <h6 class="text-center">SALIDAS DE INVENTARIO #<%= data.DocNum %></h6>
                
            </div>
            <div class="qr-container text-center">
                <img class="qr-code" src="<%= qrCode %>" alt="QR Code">
                <p><%= data.BarCode %></p>
            </div>
        </div>
        <hr>

        <div class="header-container">

            <div class="header-left">
                <p><strong>Usuario:</strong>
                    <%= data.USER_CODE %>
                </p>
                <p><strong>Creado por:</strong>
                    <%= data.U_NAME %>
                </p>
                <p><strong>Hora:</strong>
                    <%= data.time %>
                </p>

                <p><strong>ALMACEN DE INGRESO: <%= data.WhsCode %>  <%= data.WhsName %></strong></p>
                <p><strong>Cliente:</strong>
                    <%= data.CardCode %> - <%= data.CardName %>
                </p>
            </div>
            <div class="header-right">
                
                <p><strong>Fecha de contabilizacion:</strong>
                    <%= new Date(data.DocDate).toLocaleDateString('es-ES') %>
                </p>
            </div>
        </div>
        <hr>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Cant</th>
                    <th>Uom</th>
                    <th>Lote</th>
                    <th>Expiracion</th>
                    <th>Almacen</th>
                </tr>
            </thead>
            <tbody>
                <% let totalGeneral=0; %>
                    <% data.detailsList.forEach(item=> {
                        totalGeneral += parseFloat(item.LineTotal); %>
                        <tr>
                            <td>
                                <%= item.ItemCode %>
                            </td>
                            <td>
                                <%= item.Dscription %>
                            </td>
                            <td>
                                <%= item.Quantity %>
                            </td>
                            <td>
                                <%= item.UomCode %>
                            </td>
                            <td>
                                <%= item.BatchNum %>
                            </td>
                            <td>
                                <%= new Date(item.ExpDate).toLocaleDateString('es-ES') %>
                            </td>
                            <td>
                                <%= item.WhsCode %>
                            </td>
                        </tr>
                        <% }); %>
            </tbody>
            <tfoot>
                <tr class="total-row">
                    <td></td>
                    <td class="text-end">Cantidad Total:</td>
                    <td>
                        <%= data.totalCant.toFixed(0) %>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <div class="comments">
            <p><strong>Glosa:</strong>
                Salida de mercancias
            </p>
            <p><strong>Comentario:</strong>
               <%= data.cambio %> <!-- agregar comentarios a la devolucion-->
            </p>
        </div>


        <div class="footer-signatures">
            <div>Creado por <%= data.U_NAME %>
            </div>
            <div>Preparado por
            </div>
            <div>Revisado por
            </div>
            <div>Recibí conforme <%= data.CardName %>
            </div>
        </div>
    </div>
</body>

</html>